@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'modern-tech';
  src: url('Fonts/BasicSansSerif7-ZLAJ.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  font-family: modern-tech;
  display: flex;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #root{
  width: 100%;
  height: 100%;
} */

#veepn-breach-alert{
  display: hidden;
}
